# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CPPDemos/Person/Person.vcxproj.filters
/CPPDemos/CPPDemos.VC.VC.opendb
/CPPDemos/Person/Person.vcxproj.user
/CPPDemos/Person/Debug
/CPPDemos/Debug
/CPPDemos/.vs/CPPDemos/v15
/.vs
/Raylib/x64/Debug
/Raylib/testProject/x64/Debug
/Raylib/SnakeGame/x64/Debug
/Raylib/SnakeGame/SnakeGame.vcxproj.user
/Raylib/SnakeGame/SnakeGame.vcxproj.filters
/Raylib/testProject
/Raylib/Raylib/x64/Debug
/Raylib/Raylib
/Raylib/.vs/Raylib/v15/ipch
/Raylib/.vs/Raylib/v15/
